<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<div class="welcome">
			<h1><%= title %></h1>
			<p>Welcome to <%= title %></p>
		</div>
		<div class="login">
			<h2>Please choose a username!</h2>
			<label for="username">Username</label>
			<input id="username" name="username" type="text">
			<input id="submit" type="submit">
		</div>
		<div class="chat">
			<div class="chat__messages">
				<% for (let message of messages) { %>
					<div class="chat__messages__msg">
						<h3>
							<%= message.user %>
						</h3>
						<p>
							<%= message.message %>
						</p>
					</div>
				<% } %>

			</div>
			<div class="chat__text">
				<label for="input">Write your message here!</label>
				<input id="message" name="input" type="text">
				<input id="messageBtn" type="submit">
			</div>
		</div>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/javascripts/main.js"></script>
	</body>
</html>
