body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

.welcome {
  margin: 2rem auto;
  text-align: center; }

.login {
  margin: 2 auto;
  width: 100%;
  text-align: center; }
  .login input {
    margin: 0.5rem auto;
    display: block;
    width: 50%;
    text-align: center; }

.chat {
  position: relative;
  display: none;
  width: 100%;
  height: 80vh;
  padding: 1rem 0; }
  .chat__messages {
    width: 100%;
    height: 60vh;
    overflow-y: scroll; }
    .chat__messages__msg {
      margin: 0.5rem 0;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      border-radius: 12px;
      padding: 0.5rem; }
  .chat__text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    padding: 2rem; }
    .chat__text input {
      margin: 1rem auto;
      width: 100%;
      padding: 0.5rem; }
