body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }

  a {
	color: #00B7FF;
  }


.welcome {
	margin: 2rem auto;
	text-align: center;
}

.login {
	margin: 2 auto;
	width: 100%;
	text-align: center;
	input {
		margin: 0.5rem auto;
		display: block;
		width: 50%;
		text-align: center;
	}
}

.chat {
	position: relative;
	display: none;
	width: 100%;
	height: 80vh;
	padding: 1rem 0;

	&__messages {
		width: 100%;
		height: 60vh;
		overflow-y: scroll;

		&__msg {
			margin: 0.5rem 0;
			background-color: rgba($color: #000, $alpha: 0.5);
			color: white;
			border-radius: 12px;
			padding: 0.5rem;
		}



	}

	&__text {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background-color: rgba(#000, 0.6);
		border-radius: 12px;
		padding: 2rem;
		input {
			margin: 1rem auto;
			width: 100%;
			padding: 0.5rem;
		}
	}
}
